body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 12px;
  color: black;
}
.container-fluid{
  padding: 0!important;
}
.content{
  padding-left: 10%;
  padding-right: 10%;
}
.header{
  background: url(https://res.cloudinary.com/epospiky/image/upload/v1591831386/hotelVixon/Homepage/isai-ramos-A6WQ57dzHgU-unsplash_1.png) no-repeat;
  background-size: 100% 100%;/*
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;*/
  padding-top: 3rem;

}
.navbar-brand{
  color: #234B9A!important;
  font-weight: bold;
}
.nav-item{
  padding-right: 3rem!important;
}
.nav-link{
   color: #234B9A!important;
  font-weight: 600;
}
.nav-link img{
  top: 0!important;
}

.header h3{
  text-align: center;
  font-weight: bold;
  color: #06348C;
  font-size: 2.5rem;
  padding-top: 4rem;
  padding-bottom: 2rem;
}
.header hr{
  font-size: 600;
  width: 40%;
  text-align: center;
  height: 4px;
  border-top:4px solid #f2830F;
  padding-bottom: 14rem;
}
#free {
  position: absolute;
background: #37A335;
border-radius: 10px;
padding: 0.5rem;
font-family: Mukta;
font-style: normal;
font-weight: bold;
font-size: 1rem;
color: #FFFFFF;
right: 2rem!important;
}

#free :hover {
  color: blue;
  cursor: pointer;
  background-color:white;
}
.facil-sec{
  text-align: center!important;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.facil-sec a{
  text-decoration: none!important;
}
#show-all-facilities {
  text-align: center!important;
  background: #234B9A;
  border-radius: 10px;
  font-family: Mukta;
  padding: 0.5rem 2rem;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 60px;
  color: #FFFFFF;
}
.titleImage img{
  display: block;
  width: 100%;
  height: auto;
}
.titleWithDetails ul li {
  text-decoration: none;
  text-decoration-style: none;
  list-style: none;
  text-align: center;
  font-family: Mukta;
  font-style: normal;
  font-size: 1rem;
  text-align: left!important;
color: #000000;
}
.titleWithDetails ul li:before{
  content: '\2713';
  display: inline-block;
  color: green;
  padding-right: 2rem;
}
/*.main-container {
  width: 1440px;
  height: 2059px;
  left: 0px;
  top: 659px;
  background: #FBFBFB;
}

.container {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  padding: 15px;
  text-align: left;
  grid-template-rows: auto;
  margin: 10px;
}
*/
.facilities {
  display: block;
  padding-top: 3rem;
}

.titleWithDetails h4{ 
text-align: center;
font-family: Mukta;
font-style: normal;
font-weight: 600;
font-size: 1.5rem;
color: #453F3F;
}

.titleWithDetails {
  border: 1.5px solid #27647E;
  border-top: none;
  padding-top: 3px;
  box-sizing: border-box;
}

.titleWithDetails {
  text-align: center;
}
.titleWithDetails  ul>li{
  text-align: center;
}
.titleWithDetails h4>input{
  border: none;
}



/*******************************************************************
*********************styling for footer*****************************
********************************************************************/
footer {
  
  padding: 3px;
  background-color: #06348c;
  color: white;
  position:absolute;
  width:100%;
  text-align: center;

  }
  .cl-path{
    padding-top: 0!important;
    margin-top: 0!important;
  }
  .cont {padding-top: 3rem; 
    padding-left: 2rem;
}
.cont a{
  color: #ffffff;
  text-decoration: none;
}

.svg{
  margin: 0px;
}

.fab {
  border-radius: 50%!important;
  padding-right: 1rem;
}
.bh{
/*position: absolute;
width: 233.1px;
height: 49.98px;*/
display: flex;
flex-direction: column;

}
.bh p {
  padding-left: 1.5rem;
}
.bh h2{
/*position: absolute;
width: 233.1px;
height: 49.98px;*/  
margin: 0px;
padding-left: 0px;
font-family: Mukta;
font-weight: 600;
font-size: 48px;
line-height: 80px;
font-style: normal;

color: #FFFFFF;
}


.cu h3{
font-family: Mukta;
font-weight: 600;
font-size: 24px;
line-height: 40px;
font-style: normal;

color: #FFFFFF;
}

.com h3 {
font-family: Mukta;
font-weight: 600;
font-size: 24px;
line-height: 40px;
font-style: normal;

color: #FFFFFF;
}

.fu h3{
font-family: Mukta;
font-weight: 600;
font-size: 24px;
line-height: 40px;
font-style: normal;

color: #FFFFFF;
}




/***************************************************************
******************styling for rooms*****************************
*****************************************************************/

        .room-cont{
          padding-top: 1rem;
        }
        .btn {
            background-color: #06348C;
            margin-top: 50px;
        }
        
        .room-car {
            margin: 0 auto;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
        .room-car .col-md-5{
          padding-right: 0!important;
          } 
          .room-car .col-md-7{
            padding-left: 0!important
        }
        .room{
          border: 2px solid #F2B30F;
          border-left: none;
        }
        .col-md-7 h5, .col-md-7 p, .col-md-7 .btn, .col-md-7 blockquote{
          padding-left: 1rem!important;
        }
        .card-text {
            color: #000000;
        }
        
        .price {
            position: absolute;
        }
        .col-md-5 img{
          display: block;
          width: 100%;
          height:auto;
        }

        /*-***************************************************
        **************styling for contact us******************
        ******************************************************/



.cont-fluid{
    background-color: rgba(39, 100, 126, 0.1);
}

#formArea{
    color: rgb(41, 41, 136);
    text-align: center;
    font-size: 15px;
    width: 100%;
    padding: 15px;
    margin-top: 10px;
}


#formArea h3 {
    font-size: 1.2rem;
}
/*name, email,sub*/

form input{
    display: block;
    width: 50%;
    margin: auto;
    padding-top: 15px;
    padding: 12px;
    margin-top: 15px;
    margin-bottom: 15px;
}

form input[textarea]{
   line-height: 100px;
}

form button{
    background-color:rgb(41, 41, 136);
    padding: .7rem 2.5rem;
    outline: none;
    border: none;
    border-radius: 0.5rem;
    color: #ffffff;
}

#googleMap{
    text-align: center;
}
#newsletter {
    text-align: center;
}
#newsletter p{
    text-align: center;
    margin: 20px;
    padding: 15px;
    color: rgb(41, 41, 136);
    font-size: 1.3rem;
}
#newsletter button{
    display: inline;
    margin-left: -6px!important;
    border-radius: 0 0.5rem 0.5rem 0; 
}
#newsletter input{
    display: inline-block;
    margin-right: 0!important;
}



/******************************************************
*************** styling for index*********************
******************************************************/
.emailheader{
  text-align: center;
}
.emailheader input, .emailheader button{
  display: inline;
}
.emailheader input{
  margin-right: -2px!important;
}
.emailheader button{
  margin-left: -4px!important;
}

@media only screen and (max-width:768px) {

  form input{
    display: block;
    width: 80%;
    margin: auto;

    padding-top: 15px;
    padding: 12px;
    margin-top: 15px;
    margin-bottom: 15px;
}  
    #newsletter input{
        width: 50%;
    display: inline-block;
    margin-right: 0!important;
}
    #googleMap{
        width: 100%;
    text-align: center;
}
.cont {padding-top: 3rem; 
    padding-left: 0rem;
}
.header{
  padding-top: 1rem;

}
}
